<div class="product-container">
  <img class="product-image" src="{{ product.img_url }}" alt="Item pic">
  <h4 class="product-title">{{ product.name }}</h4>
  <h6 class="product-price">{{ product.price }}</h6>
  <div>
    <label for="amount">Amount:   </label>

    <select name="amount" id="amount">
      <option value=1>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <button class="btn btn-primary cart-button">Add To Cart</button>
</div>
