<div class="product-container">
  <img class="product-image" src="https://images.unsplash.com/photo-1591076482161-42ce6da69f67?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Item pic">
  <h4 class="product-title">This is item title</h4>
  <h6 class="product-price">$179.99</h6>
  <div>
    <label for="amount">Amount:   </label>

    <select name="amount" id="amount">
      <option value=1>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <button class="btn btn-primary cart-button">Add To Cart</button>
</div>
