<app-header></app-header>
<div class="product-detail">
<div class="row" *ngIf="product">
  <div class="col-md detail-image">
    <img class="product-image" src="{{ product.url }}" alt="">
  </div>
  <div class="col-md detail-details">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <div>
      <label for="amount">Amount:   </label>
  
      <select [(ngModel)]="quantity" name="amount" id="amount" (ngModelChange)="changeQuantity($event)">
        <option *ngFor="let quan of quantity" (ngValue)="quan">{{ quan }}</option>
      </select>
    </div>
    <button class="btn btn-primary cart-button" (click)="addToCart()">Add To Cart</button>
  </div>
</div>
</div>
