<div class="cart-detail">
  <div class="row" *ngIf="cartItem">
    <div class="col-md detail-image">
      <img class="product-image" src="{{ cartItem.url }}" alt="">
    </div>
    <div class="col-md detail-details">
      <h3>{{ cartItem.name }}</h3>
      <p>{{ cartItem.price }}</p>
    </div>
    <div class="col-md amount-section">
        <label for="amount">Amount:   </label>    
        <select [(ngModel)]="cartItem.quantity" name="amount" id="amount" (ngModelChange)="changeQuantity($event)">
          <option *ngFor="let quan of quantity" (ngValue)="quan" [selected]="cartItem.quantity == quan">{{ quan }}</option>
        </select>
    </div>
    <div class="button-section">
      <button class="btn btn-primary update-button" (click)="updateCart()" [disabled]="!this.hideButton">Update Cart</button>
    </div>
  </div>
