<div class="cart-detail">
  <div class="row" *ngIf="cartItem">
    <div class="col-md detail-image">
      <img class="product-image" src="{{ cartItem.url }}" alt="">
    </div>
    <div class="col-md detail-details">
      <h3>{{ cartItem.name }}</h3>
      <p>{{ cartItem.price }}</p>
    </div>
    <div class="col-md amount-section">
        <label for="amount">Amount:   </label>
    
        <select name="amount" id="amount" (change)="changeQuantity($event.target.value)">
          <option *ngFor="let quan of quantity" value="{{ quan }}" [selected]="cartItem.quantity == quan">{{ quan }}</option>
        </select>
    </div>
    <div class="button-section">
      <button class="btn btn-primary update-button" (click)="updateCart()" *ngIf="this.hideButton">Update Cart</button>
    </div>
  </div>
